<IfModule mod_rewrite.c>
  RewriteEngine On

  # catches all cathegories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule "^cat/([a-z0-9_\-\.,]+)/?([0-9]{0,4})/?$" archive.php?cat=$1&y=$2 [QSA]

  # catches all archive links, month and year
  RewriteRule "^archive$" archive.php [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule "^([0-9]{4})/?([0-9]{0,2})/?$" archive.php?y=$1&m=$2 [QSA]

  # cathes all permalinks
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule "^([0-9]{4})/?([0-9]{2})/?([a-z0-9_\-\./,]+)$" log.php?y=$1&m=$2&url=$3 [QSA]

  # catches all pages
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule "^([a-z0-9_\-\./,]+)$" page.php?url=$1 [QSA]
</IfModule>

# Ein paar nette PHP-Einstellungen die das Leben schoener machen:
php_flag expose_php off
php_flag zlib.output_compression on
php_value zlib.output_compression_level 6
